#contact {
  background-color: #6070ff;
  padding: 100px 10vw;
  border-radius: 75px 0 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('../assets/contactBg.svg');
}

#contact .containerOne {
  h1,
  p {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  #contact {
    padding: 100px 30vw;
    background-image: url('../assets/desktopContactBg.svg');
    background-position: center;
    height: 100vh;
  }
}
